/*
 * Copyright (c) 2021 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

#define DEFAULT 0
#define FN  1

/ {
    behaviors {
        td_backspace: td_backspace {
            compatible = "zmk,behavior-tap-dance";
            label = "TD_BACKSPACE";
            #binding-cells = <0>;
            bindings = <&kp BACKSPACE>, <&kp LC(BACKSPACE)>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            // ---------------------------------------------------------------------------------------------------------------------------------
            // | ESC  |  1   |  2   |  3   |  4   |  5   |                                                   |  6   |  7   |  8   |  9   |  0   | BSPC |
            // | WIN  |  Q   |  W   |  E   |  R   |  T   |                                                   |  Y   |  U   |  I   |  O   |  P   | EQL  |
            // | TAB  |  A   |  S   |  D   |  F   |  G   |                                                   |  H   |  J   |  K   |  L   | SCLN | QUOT |
            // | LCTL |  Z   |  X   |  C   |  V   |  B   |      | CTL  | ALT  |         | CAPS | CTL  |      |  N   |  M   | COMM | DOT  | SLSH | MINS |
            //        | GRV  | BSLS | LEFT | RGHT |      | SHFT |  FN  | HOME |         | PGUP | ENT  | SPC  |      |  UP  |  DN  | LBKT | RBKT |
            //                                                         | END  |         | PGDN |

            bindings = <
&kp EQUAL   &kp N1          &kp N2          &kp N3            &kp N4         &kp N5                                                                                          &kp N6  &kp N7       &kp N8            &kp N9           &kp N0              &kp MINUS
&kp TAB     &kp Q           &kp W           &kp E             &kp R          &kp T                                                                                           &kp Y   &kp U        &kp I             &kp O            &kp P               &kp BACKSLASH
&kp ESCAPE  &mt LEFT_GUI A  &mt LEFT_ALT S  &mt LEFT_SHIFT D  &mt LCTRL F    &kp G                                                                                           &kp H   &mt RCTRL J  &mt RSHFT K       &mt RIGHT_ALT L  &mt RGUI SEMICOLON  &kp SQT
&kp CAPS    &kp Z           &kp X           &kp C             &kp V          &kp B              &kp LEFT_WIN  &mo 0               &mo 0              &kp CLCK                &kp N   &kp M        &kp COMMA         &kp PERIOD       &kp SLASH           &kp CAPS
            &kp HOME        &kp END         &kp PG_UP         &kp PAGE_DOWN          &kp ENTER  &kp SPACE     &kp LALT            &kp RIGHT_ALT      &td_backspace  &kp DEL          &kp GRAVE    &kp LEFT_BRACKET  &kp RBKT         &kp MINUS
                                                                                                              &kp LEFT_CONTROL    &kp RIGHT_CONTROL
            >;
        };

        numpad {
            bindings = <
&kp EQUAL   &kp N1          &kp N2          &kp N3            &kp N4         &kp N5                                                        &kp N6            &kp N7     &kp N8            &kp N9    &kp N0             &kp MINUS
&kp TAB     &kp Q           &kp W           &kp E             &kp R          &kp T                                                         &kp LEFT_BRACKET  &kp N7     &kp N8            &kp N9    &kp RIGHT_BRACKET  &none
&kp ESCAPE  &mt LEFT_GUI A  &mt LEFT_ALT S  &mt LEFT_SHIFT D  &mt LCTRL F    &kp G                                                         &kp LS(SQT)       &kp N4     &kp N5            &kp N6    &kp EQUAL          &none
&kp CAPS    &kp Z           &kp X           &kp C             &kp V          &kp B          &none  &none    &none       &none              &kp SQT           &kp N1     &kp N2            &kp N3    &kp BACKSLASH      &none
            &kp HOME        &kp END         &kp PG_UP         &kp PAGE_DOWN          &none  &none  &none    &none       &kp N0  &kp MINUS                    &kp GRAVE  &kp LEFT_BRACKET  &kp RBKT  &kp MINUS
                                                                                                   &none    &kp PERIOD
            >;
        };
    };
};
